.about-wrapper {
    color:white;
    margin:0px;
    border-style:inset;
    border-color:rgb(235, 230, 230);
    border-width:4px 4px 0px 4px; 
    padding:20px;
    font-size:18px; 
    /* border-bottom: solid white 2px; */
    font-family: 'Libre Baskerville', serif;

}

.about-dogimg{
    border-width:4px 4px 4px 4px; 
    font-family: 'Libre Baskerville', serif;

    
}

.about-txt {
    font-family: 'Libre Baskerville', serif;
    padding:10px;
}

.about-img{
    padding:10px;
}
.about-dogs{
    color:white;
    margin:0px;
    border-style:inset;
    border-color:rgb(235, 230, 230);
    border-width:0px 4px 4px 4px; 
    padding:20px;
    font-size:18px; 
}
.body {
    background-color: rgb(8, 42, 53);
}

.big {
    background-attachment: fixed;

}
.background {
    width:70%;
    height:70%;
    border-style:none;
    border-color:rgb(235, 230, 230);
    border-width:4px 4px 0px 4px; 
}

.button {
    margin:10px auto;
}


.consult {
    color:white;
    margin:0px;
    border-style:inset;
    border-color:rgb(235, 230, 230);
    border-width:4px 4px 4px 4px; 
    padding:20px;
    font-size:18px; 
    font-family: 'Libre Baskerville', serif;

}

.dog{
    border-radius:20%;
}

.diet {
    color:white;
    margin:4px;
    border-style:inset;
    border-color:rgb(235, 230, 230);
    border-width:4px 4px 4px 4px; 
    padding:20px;
    font-size:18px;
    font-family: 'Libre Baskerville', serif;

}

.dog-div {
    width:30%;
    height:30%;
}

.contact {
    color:white;
    margin:0px;
    border-style:inset;
    border-color:rgb(235, 230, 230);
    border-width:4px 4px 4px 4px; 
    padding:20px;
    font-family: 'Libre Baskerville', serif;

}

.footer{
    color:white;
    margin-left: auto;
    margin-right:auto;

}

.foot{
    background-color: rgb(5, 26, 32);
    height: 8rem;
    border-style:none;
    border-color:rgb(235, 230, 230);
    border-width:4px 4px 4px 4px; 
    font-size:20px;
    color: white;
    
}

.hr {
    color:white;
}
.intro {
    margin:10px;
}

.introduction {
    color:white;
    margin:0px;
    font-family: 'Libre Baskerville', serif;
    padding:20px;
    font-size:20px;
    word-spacing: 3px;
    font-family: 'Libre Baskerville', serif;

    /* text-indent:7%; */
}

.main {
    background-color: rgb(8, 42, 53);
    color:white;
}

.member{
    margin:5px;
    padding:5px;
}

.nav-link  {

    color:black;
}
.navtext {
    color:black;
}

.pic{
  width:100%;
  height:auto;
}

.title {
    font-family: 'IM Fell English SC', serif;
    font-size:35px;
    margin-bottom: -10px;
    margin-left: 30px;
}

.vid {
    padding:20px;
}

div#maintwo{
    width:830px;
    height:650px;
    margin:0 auto;
    font-family:'Ubuntu',sans-serif
    }
    div#form_sample{
    text-align:center;
    border:1px solid #ccc;
    width:300px;
    padding:0 50px 15px;
    margin-top:20px;
    box-shadow:0 0 15px;
    border-radius:6px;
    float:left
    }
    #maintwo h1{
    margin-top:40px
    }
    hr{
    margin-top:-5px
    }
    label{
    float:left;
    font-size:16px
    }
    input[type="text"]{
    width:100%;
    margin-top:10px;
    height:35px;
    margin-bottom:25px;
    padding:10px;
    border:3px solid #2BC1F2
    }
    textarea{
    width:100%;
    border:3px solid #2BC1F2;
    padding:10px;
    margin-bottom:25px;
    margin-top:10px;
    height:100px;
    resize:none
    }
    input[type="submit"]{
    width:100%;
    padding:10px 45px;
    background-color:#2BC1F2;
    border:none;
    color:#fff;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
    font-family:'Ubuntu',sans-serif
    }
    /* -------------------------------------
    CSS for Sidebar (optional)
    ---------------------------------------- */
    /* div#fugo{
    float:right
    } */