@media only screen and (max-width: 600px){
.card{
    width:12rem;
}

.intro-h2-2{
    margin-left:2rem;
}



}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    .intro-p{
        font-size:.9;
    }
}

@media only screen and (min-width: 1100px){
.background{
    height:80%;
}
}

.about-wrapper {
    color:white;
    margin:0px;
    border-style:inset;
    border-color:rgb(235, 230, 230);
    border-width:4px 4px 0px 4px; 
    padding:20px;
    font-size:18px; 
    /* border-bottom: solid white 2px; */
    font-family: 'Text Me One', sans-serif;

}

.about-dogimg{
    border-width:4px 4px 4px 4px; 
    font-family: 'Text Me One', sans-serif;

    
}

.about-txt {
    font-family: 'Text Me One', sans-serif;
    padding:10px;
    text-indent: 30px;

}

.about-img{
    padding:10px;
}

.about-dogs{
    color:white;
    margin:auto;
    border-style:inset;
    border-color:rgb(235, 230, 230);
    border-width:0px 4px 4px 4px; 
    font-size:18px; 
}
.body {
    background-color: rgb(8, 42, 53);
}

.big {
    background-attachment: fixed;

}
.background {
    width:80%;
    border-style:none;
    border-color:rgb(235, 230, 230);
    border-width:4px 4px 0px 4px; 
    margin:auto;
    padding:auto;
}

.button {
    margin:10px auto;
}

.btn{
    margin-left:3rem;
}

.circle{
    height:70%;
    width:70%;
    margin:20px;

}

.consult {
    color:white;
    margin:0px;
    border-style:inset;
    border-color:rgb(235, 230, 230);
    border-width:4px 4px 4px 4px; 
    padding:20px;
    font-size:18px; 
    font-family: 'Libre Baskerville', serif;
}



.dog{
    border-radius:80%;
    width:auto;
    margin:auto;
}

.diet {
    color:white;
    margin:4px;
    border-style:inset;
    border-color:rgb(235, 230, 230);
    border-width:4px 4px 4px 4px; 
    padding:20px;
    font-size:18px;
    font-family: 'Text Me One', sans-serif;

}

.diet-txt{
    font-size:22px;
    font-weight: 200;
    margin:10px;
    text-indent:30px;
    font-family: 'Text Me One', sans-serif;
    color: white;
}

.contact {
    color:white;
    margin:0px;
    border-style:inset;
    border-color:rgb(235, 230, 230);
    border-width:4px 4px 4px 4px; 
    padding:10px;
    font-family: 'Text Me One', sans-serif;

}

.card-body{
    font-size:20px;
}

.card-text{
    font-size:1.1rem;
    
}
.card{
    /* font-family: 'Text Me One', sans-serif; */
    /* font-weight: bold; */
    width:2rem;
    margin:.1rem;
}

.food{
    border-radius: 85%;
    width:20%;
    height:20%;
}
.footer{
    color:white;
    /* margin-left: auto;
    margin-right:auto; */

}

.foot{
    background-color: rgb(5, 26, 32);
    height: 10rem;
    width:100%;
    border-style:none;
    border-color:rgb(235, 230, 230);
    border-width:4px 4px 4px 4px; 
    font-size:20px;
    color: white;
    margin:2rem 0 -2rem;
}

.food{
    margin:20px;
}

.group{
    margin:10px;
}

.home{
    width:82%;
    background-color:#d5d4cc;
    margin:3rem auto 0;
    
}

.hr {
    color:white;
}

h2 {
    font-family: 'Text Me One', sans-serif;
    text-align: center;
}

.intro-h2{
    margin:2rem 0 2rem 0rem;
    text-align: center;
}

.intro-h2-2{
    margin:2rem 0 0rem 1rem;
    text-align: center;
}
.intro-p {
    margin:2rem;
    color: black;
    font-size:1.2rem;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Text Me One', sans-serif;

}

.introduction {
    color:white;
    margin:10px;
    font-family: 'Text Me One', sans-serif;
    padding:3px;
    font-size:22px;
    word-spacing: 1px;
    text-align:left;

}

.login {
    margin:20px;
}

.logo{
    margin:2rem 0 -2rem;
}
.main{
background-color:#d5d4cc;
color:black;
}

.member{
    margin:5px;
    padding:5px;
}

.nav-link  {

    color:black;
}
.navtext {
    color:black;
}
.par{
    font-family: 'Text Me One', sans-serif;
}


.pic{
  width:100%;
  height:auto;
}


.row1{
     border-style:double ;
     border:0px 0px .2rem 0px outset black;
}

.row2{
    border-style:double ;
    border:0 0 .2rem 0 black;
}
.sheba{
    width:90%;
}

.table{
    color:white;
    font-size:20px;
    border: solid white 2px;
}
.title {
    font-family: 'IM Fell English SC', serif;
    font-size:35px;
    margin-bottom: -10px;
    margin-left: 30px;
}

.treat {
font-size: 1.5rem;
}

.vid {
    margin:2rem 0 2rem;
}

div#maintwo{
    width:830px;
    height:650px;
    margin:0 auto;
    font-family:'Ubuntu',sans-serif
    }
    div#form_sample{
    text-align:center;
    border:1px solid #ccc;
    width:300px;
    padding:0 50px 15px;
    margin-top:20px;
    box-shadow:0 0 15px;
    border-radius:6px;
    float:left
    }
    #maintwo h1{
    margin-top:40px
    }
    hr{
    margin-top:-5px
    }
    label{
    float:left;
    font-size:16px
    }
    input[type="text"]{
    width:100%;
    margin-top:10px;
    height:35px;
    margin-bottom:25px;
    padding:10px;
    border:3px solid #2BC1F2
    }
    textarea{
    width:100%;
    border:3px solid #2BC1F2;
    padding:10px;
    margin-bottom:25px;
    margin-top:10px;
    height:100px;
    resize:none
    }
    input[type="submit"]{
    width:100%;
    padding:10px 45px;
    background-color:#2BC1F2;
    border:none;
    color:#fff;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
    font-family:'Ubuntu',sans-serif
    }
    /* -------------------------------------
    CSS for Sidebar (optional)
    ---------------------------------------- */
    /* div#fugo{
    float:right
    } */

    /* --------------------------------------
    Responsive Buttons
    ------------------------------------------*/
    @media (max-width: 768px) {
        .btn-responsive {
          padding:2px 4px;
          font-size:80%;
          line-height: 1;
          border-radius:3px;
        }
      }
      
      @media (min-width: 769px) and (max-width: 992px) {
        .btn-responsive {
          padding:4px 9px;
          font-size:90%;
          line-height: 1.2;
        }
      }

/*------------------ Social Media--------------------*/
/* .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
} */